force-app/main/default/flows/Quiz_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Question_Answers_Array</name>
        <label>Create Question-Answers Array</label>
        <locationX>336</locationX>
        <locationY>2318</locationY>
        <actionName>CreateQuestionSelectedAnswerArray</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Final_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>questionIds</name>
            <value>
                <elementReference>QuizQuestionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isMarkedForReviewValues</name>
            <value>
                <elementReference>MarkedForReviewValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedAnswersIds</name>
            <value>
                <elementReference>SelectedAnswersIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Collection_Values</name>
        <label>Add Collection Values</label>
        <locationX>424</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>TotalMilliseconds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Questions_And_Answers.totalMilliseconds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserSelectedAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Questions_And_Answers.selectedAnswerForFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuizQuestionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Questions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarkedForReviewValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Questions_And_Answers.isMarkedForReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAnswersIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Questions_And_Answers.selectedAnswersForFlow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_User_Score</name>
        <label>Increment User Score</label>
        <locationX>424</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>UserScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_isQuizAlreadyTaken_to_True</name>
        <label>Set isQuizAlreadyTaken to True</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>is_Quiz_Already_Taken</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Relevant_Quiz_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_the_User_score_higher_than_the_Quiz_threshold</name>
        <label>Did the User score higher than the Quiz threshold?</label>
        <locationX>336</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Quiz_Unsuccessful</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Quiz_Threshold_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quiz.Threshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_Passed_the_Quiz</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Current_Answer_is_Correct</name>
        <label>Is The Current Answer Correct?</label>
        <locationX>556</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>For_Each_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Answer.IsCorrect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_User_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_User_has_already_passed_this_quiz</name>
        <label>If the User has already passed this quiz</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>For_Each_Relevant_Quiz_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quiz_Already_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Relevant_Quiz_Report.Is_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_isQuizAlreadyTaken_to_True</targetReference>
            </connector>
            <label>Quiz Already Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Practice_Mode_Enabled</name>
        <label>Is Practice Mode Enabled?</label>
        <locationX>336</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Create_Quiz_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disabled</defaultConnectorLabel>
        <rules>
            <name>PracticeModeEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>practice_mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_the_User_score_higher_than_the_Quiz_threshold</targetReference>
            </connector>
            <label>PracticeModeEnabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_quiz_retakeable</name>
        <label>is quiz retakeable?</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Welcome_to_the_Quiz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes it&apos;s retakable</defaultConnectorLabel>
        <rules>
            <name>it_s_not_retakeable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quiz.Is_Retakeable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quiz_Reports</targetReference>
            </connector>
            <label>it&apos;s not retakeable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Quiz_Already_Taken</name>
        <label>Is the Quiz Already Taken?</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Welcome_to_the_Quiz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quiz_Already_Taken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_Quiz_Already_Taken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quiz_Already_Passed_Screen</targetReference>
            </connector>
            <label>Quiz Already Taken</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calculate_Total_Time</name>
        <dataType>String</dataType>
        <expression>TEXT(FLOOR((MOD({!TotalMilliseconds},(1000*60*60))/(1000*60))))+&quot; min &quot;+
            TEXT(FLOOR((MOD({!TotalMilliseconds},(1000*60))/(1000))))+&quot; sec&quot;</expression>
    </formulas>
    <interviewLabel>Quiz Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quiz Flow</label>
    <loops>
        <name>For_Each_Answer</name>
        <label>For Each Answer</label>
        <locationX>336</locationX>
        <locationY>2798</locationY>
        <collectionReference>Get_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Current_Answer_is_Correct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Practice_Mode_Enabled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Relevant_Quiz_Report</name>
        <label>For Each Relevant Quiz Report</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Quiz_Reports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_the_User_has_already_passed_this_quiz</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_the_Quiz_Already_Taken</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Questions</name>
        <label>Loop Through Questions</label>
        <locationX>336</locationX>
        <locationY>1862</locationY>
        <collectionReference>Get_Quiz_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Show_LWC_For_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Question_Answers_Array</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quiz_Report</name>
        <label>Create Quiz Report</label>
        <locationX>424</locationX>
        <locationY>3350</locationY>
        <connector>
            <targetReference>Did_the_User_score_higher_than_the_Quiz_threshold</targetReference>
        </connector>
        <inputAssignments>
            <field>Quiz__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Seconds__c</field>
            <value>
                <elementReference>Calculate_Total_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Score__c</field>
            <value>
                <elementReference>UserScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quiz_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Answers</name>
        <label>Get Answers</label>
        <locationX>336</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Answer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserSelectedAnswers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quiz_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quiz</name>
        <label>Get Quiz</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_quiz_retakeable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quiz__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quiz_Questions</name>
        <label>Get Quiz Questions</label>
        <locationX>336</locationX>
        <locationY>1742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quiz__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quiz_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quiz_Reports</name>
        <label>Get Quiz Reports</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Relevant_Quiz_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quiz__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quiz_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Final_screen</name>
        <label>Final screen</label>
        <locationX>336</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>tempScreen</targetReference>
        </connector>
        <fields>
            <name>list_of_questions</name>
            <extensionName>c:finalScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quizQuestions</name>
                <value>
                    <elementReference>Get_Quiz_Questions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filledQuestionValues</name>
                <value>
                    <elementReference>Create_Question_Answers_Array.questionAnswersArray</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quiz_Already_Passed_Screen</name>
        <label>Quiz Already Passed</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>QuizAlreadyPassedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Sorry, but you cannot take this quiz, since you already passed it! Click Finish to go back.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quiz_Unsuccessful</name>
        <label>Quiz Unsuccessful</label>
        <locationX>468</locationX>
        <locationY>3686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_PassedQuizText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Oh, you didn&apos;t pass! Try again!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your Score: {!UserScore}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Quiz Threshold: {!Get_Quiz.Threshold__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Your Time: {!Calculate_Total_Time}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_LWC_For_Question</name>
        <label>Show LWC For Question</label>
        <locationX>424</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Collection_Values</targetReference>
        </connector>
        <fields>
            <name>Verify</name>
            <extensionName>c:verify</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Questions_And_Answers</name>
            <extensionName>c:questionsAndAnswers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isSkippable</name>
                <value>
                    <elementReference>Get_Quiz.Is_Skippable__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>question_name</name>
                <value>
                    <elementReference>Loop_Through_Questions.Description__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>tempScreen</name>
        <label>tempScreen</label>
        <locationX>336</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Answers</targetReference>
        </connector>
        <fields>
            <name>tempDisplay</name>
            <fieldText>&lt;p&gt;Map:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Create_Question_Answers_Array.questionAnswersArray}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Answer Ids:&lt;/p&gt;&lt;p&gt;{!SelectedAnswersIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_to_the_Quiz</name>
        <label>Welcome to the Quiz</label>
        <locationX>336</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Quiz_Questions</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Welcome to: {!Get_Quiz.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Here&apos;s a quick description before you get started:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!Get_Quiz.Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;The threshold for passing the quiz is &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Get_Quiz.Threshold__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Ready? Click Next to start.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>practice_mode</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Practice Mode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_Passed_the_Quiz</name>
        <label>Quiz Successful</label>
        <locationX>204</locationX>
        <locationY>3686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PassedQuizText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Congrats! You passed the quiz!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 20px;&quot;&gt;Your Score: {!UserScore}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 20px;&quot;&gt;Quiz Threshold: {!Get_Quiz.Threshold__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 20px;&quot;&gt;Your Time: {!Calculate_Total_Time}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quiz</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>is_Quiz_Already_Taken</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MarkedForReviewValues</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuizQuestionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAnswersIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalMilliseconds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UserScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserSelectedAnswers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
